//Colors
$color-primary: hsl(154, 52%, 70%);
$color-primary-two: hsl(0, 64%, 47%);
$color-accent:hsl(248, 32%, 49%);
$color-neutral:hsl(249, 10%, 26%);
$color-neutral-two: hsl(246, 25%, 77%);
$color-neutral-secundary: hsl(246, 25%, 77%, 0.5);
$color-secundary:#fff;

//Shadow
$shadow: 5px 7px 19px -9px rgba(0,0,0,0.68);

//Typography
$font-family: 'Poppins';

//Layouts
$mobile: 375px;
$desktop: 1440px;