@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './Vars.scss';

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: $font-family;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $color-neutral;
    background-color: $color-primary;
}
.error__letter,
.error__Integer{
    border: 1px solid red;
}